# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*robot-main
*station-main
*RobotLogs.log
*updaterobot.sh
robot/src/vision.c
robot/src/vision.h
ui/src/vision.c
ui/src/vision.h


# Automation-related files
*ToCompile
*Makefile.am
*build
*Dockerfile
*DEPS
*_OBJ
*makefile

# Compilation Database
compile_commands.json

# Robot
robot/src/CommunicationStructures.h
robot/src/Defines.h

# UI
ui/autodeploy/DEPS
ui/autodeploy/_OBJ
ui/autodeploy/makefile
ui/src/station-resources/station.ui~
ui/src/CommunicationStructures.h
ui/src/Defines.h

